<div id="page_home_content">
  

<h3>Welcome to the Homepage Stub!</h3>

<p>You can edit this homepage in views/pages/home.html.erb</p>

<p>The main html file is in views/layouts/application.html.erb</p>

<p>CSS files are in app/assets/stylesheets</p>

</div>
